* {
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --verde_claro : #ADFF2F;
    --marrom_claro: #DEB887;
    --azul_claro: #00FFFF;
    --branco:var(--branco);
    --verde : #008000;
    --marrom : #A0522D;
    --azul : #0000CD;
}

body{
    height: 50vh;
    box-sizing: border-box;
    background-color: var(--marrom_claro);
    color: var(--verde_claro);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex; 
    width: 100%;
    background-color: var(--azul_claro);
    padding: 1rem;
    justify-content: center;
}

.portfolio h1{
    font-size: 4rem;
    color: var(--marrom_claro);
}

main {
    margin: 35px auto;
    padding: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.pratos {
    display: flex;
    justify-content: center;
    background-color: var(--branco);
    border-radius: 10px;
    padding: 30px;
    width: 80%;
    min-width: 280px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pratos:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0.2);
}

.pratos a {
    color: var(--verde);
    font-size: 5rem;
    text-decoration: none;
}